<div class="card shadow-sm h-100">
  <img [src]="product().image" [alt]="product().name" class="card-img-top" >

  <div class="card-body">
    <p class="name_productor">{{ product().name }}</p>
    <p class="text_price">{{ formatPrice(product().price) }}</p>
    
    <div class="display_button">
      <div class="btn_group">
        <button type="button" class="comprar_produto" (click)="irParaDetalhes()">
          <span class="ir_comprar">Ver Produto</span>
        </button>
        
      </div>
    </div>
  </div>
</div>