/* src/styles.css */
:root {
    --primary-color: #ff2f93;          /* Rosa Principal */
    --primary-color-alpha: #ff2f933d;  /* Rosa Transparente (Fundo) */
    --text-color-dark: #333;
    --text-color-light: #666;
    --white: #fff;
    --border-color: #ddd;
    --input-bg: #f5f5f5;
    --error-color: #dc3545;            /* Vermelho de erro */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-color-alpha); /* Fundo padrão caso a imagem falhe */
}

/* Reset básico */
* { box-sizing: border-box; }
a { text-decoration: none; }
ul { list-style: none; padding: 0; margin: 0; }

/* Garante que o HTML e Body ocupem 100% da tela */
html, body {
    height: 100%;
    margin: 0;
  }
  
  /* O Wrapper vira um container Flex de coluna */
  .app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de 100% da viewport */
  }
  
  /* O conteúdo principal cresce para ocupar o vazio */
  .main-content {
    flex: 1; 
    /* Isso empurra o footer para baixo, não importa o conteúdo */
  }